.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 90% auto;
  row-gap: 1rem;

  text-align: center;
  background-color: var(--main-bg-color);

  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
};
