.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 80% 8%;
  row-gap: 1%;

  text-align: center;
  background-color: var(--main-bg-color);
  position: absolute;
  top: 0;
  bottom: 0;
};
