:root {
  --main-bg-color: #292F36;
  --secundary-bg-color: #4ECDC4;
  --third-bg-color: #f4f4f2bb;
  --fourth-bg-color: #FF6B6B;
}


body {
  background-color: var(--third-bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
